<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="content">
  <div class="posts" *ngIf="post">
    <h3>{{post.title}}</h3>
    <h5>{{post.author}}</h5>
    <img *ngIf="post.imageUrl.length > 0" alt="Post image" width="100%" height="auto" src="{{post.imageUrl}}">
    <p>{{post.text}}</p>
    <br>
    <button (click)="upvote(post)">⬆</button><span><b>{{post.rating}}</b></span><button (click)="downvote(post)">⬇</button>
    <br><br><br>
    <app-comments></app-comments>
  </div>
</div>

